*{
    margin:0;
    padding: 0;
}
html{
	font-size: 10px;
}
body{
	height: 100vh;
        width: 100vw;
}
li a{
    text-decoration: none;
}
#firstPage{
    height: 100%;
    width: 100%;
    background-image: url('../img/pic01.jpg');
    background-attachment:fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
#name{ 
    font-family: 'EB Garamond', serif;
    color: #fff;    
    width: 100%;
    position: absolute;
    top:20%;
    font-size: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
h1{
    width: 80%;
    text-align: center;
}
h3{
    width: 70%;
    font-size: 1.5rem;
    color: black;
    text-align: center;
}
#visitCard{
    width: inherit;
    height: inherit;    
}
#authorImg{
     border-radius: 50%;
     border: .4rem solid #fff;
     -webkit-transform: scale(0.2);
     transform: scale(0.2);
     margin-top: 12rem;
}
#hamburger{
    position: absolute;
    width: 4rem;
    height: 3rem;
    top:10%;
    right: 10%;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: transparent;
    z-index: 1;
}
#hamburger.change {
    -webkit-transform: rotate(-90deg) ;
    transform: rotate(-90deg) ;
}
.one, .two, .three {
    position: absolute;
    width: inherit;
    height: 20%;
    cursor: pointer;
    -webkit-transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, -webkit-transform .2s .4s;
    transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, -webkit-transform .2s .4s;
    transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, transform .2s .4s;
    transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, transform .2s .4s, -webkit-transform .2s .4s;
    background-color: #fff;
}
.one{
    top:0;
}
.two{
    top:calc(50% - 3px);
}
.three{
    bottom: 0;
}
.change .one {
    top: calc(50% - 3px);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg) ;
}

.change .two {opacity: 0;}

.change .three{
    bottom:calc(50% - 3px);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#barsPage{
    position: absolute;
    top:0;
    width: 100%;
    height: 0%;
    background: rgba(66,66,66,0.9);
    visibility: hidden;
}
#barsPage ul{
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    color: #fff;
    list-style: none;
    font-size: 2rem;
    font-family: 'Karla', sans-serif;
    text-align: center;
}
#barsPage li{
    width: 24rem;
    padding-bottom: 2rem;
    padding-top: 2.5rem;
    border-bottom: .4rem solid #fff;
}
#barsPage li a{
   text-decoration: none;
   color:#fff;
    cursor: pointer;
}
#barsPage li:last-child{
    border-bottom-width: 0;
}
#barsPage {
    color: #fff;
    position: absolute;
    font-size: 5rem;
}
#secondPage,#thirdPage,#contact,#fourPage{
    height: 100%;
    width: 100%;
    background-color: #d4d2d4;
    position: relative;
}
#secondPage,#thirdPage,#contact,#fourPage, #visitCard, #iconProject, #iconDevelop,.slider-container, .slider-nav, .slider-img, .rotate, .rotate a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#thirdPage,#contact{
    background-color: #604531;
}
#fourPage{
     background-color: #d4d2d4;
}
#aboutMe,#education,#course{
    height: 70%;
    width: 80%;
    top:10%;
    position: absolute;
    overflow: visible;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}
#education,#course{
    visibility: hidden;   
}

#aboutMe h4,#education h4,#course h4{
    font-size: 2.5rem;
    font-family: 'Karla', sans-serif;
    position: relative;
    padding-left: 1rem;
    border-bottom: .5rem solid #ed4a34;
}
#thirdPage h4,#contact h4, #fourPage h4{
    width: 80%;
    font-size: 2.5rem;
    position: absolute;
    font-family: 'Karla', sans-serif;
    border-bottom: .5rem solid #ed4a34;
    padding-left: 1rem;
    left:50%;
    top:10%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    color:#fff;
}
#fourPage h4{
    color: #000;
}
#iconProject{
    height: 60%;
    width: 80%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;  
}
#iconProject a{
    padding-right: 10px;
}
#contact h4{
    color:#fff;
}
#PG{
     position: relative;
     top:5%;
}
#Technic{
    position: relative;
    top:10%;
    text-align: justify;
}
#PG h5,#Technic h5{
    padding-left: 1rem;
    font-family: 'Karla', sans-serif;
    font-size: 2.3rem;
    padding-right: 2rem;
}
#PG time,#Technic time{
    padding-left: 1rem;
    font-size: 2rem;
    color:#6291b3;
}
#aboutMe p,#education p,#course p{
    font-size: 1.5rem;
    font-family: Arial;
    position: relative; 
    top:5%;
    padding: 0 2rem 0 1rem;
    text-align: justify;
}
#aboutMe article{
    height: 70%;
    overflow: scroll;
}
#education article{
    overflow: scroll;
}
#course p{
    padding-bottom: 2rem;
}
#course menu{
    position: absolute;
    top:40%;
    padding: 0 2rem 0 2rem;
    overflow: scroll;
    height: 70%;
}
article{
    height: inherit;
}
#icon{
    position: absolute;
    bottom: 10%;
    left:50%;
    -webkit-transform: translate(-50%,0%);
    transform: translate(-50%,0%);  
}
.socialIcon{
    width: 4rem;
    height: 4rem;
    margin: 2rem;
    -webkit-transition: 0.3 -webkit-transform linear;
    transition: 0.3 -webkit-transform linear;
    transition: 0.3 transform linear;
    transition: 0.3 transform linear, 0.3 -webkit-transform linear;
}
.socialIcon:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
}
.socialIcon:active{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#moveSubPage{
    z-index: 1;
    width: 20rem;
    height: 1.2rem;
    position: absolute;
    bottom: 5%;
    left:50%;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
    text-align: center;
}
.circle{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border:.1rem solid #000;
    border-radius: 50%;
    margin-right: 2rem;  
}
#moveSubPage span:first-child{
    background-color: #000;
}
#iconDevelop{
    height: 60%;
    width: 80%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 1rem;
}
#iconDevelop img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin:0 1rem 1rem 1rem;
}

#contact footer{
    position: absolute;
    bottom:0;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
    color: #fff;
}
form{
    width: 80%;
    position: absolute;
    margin-top: 1rem;
    text-align: center;
}
input, textarea {
     border:0; 
     outline:0;
     padding: 0.5rem;
     border-radius:8px;
     width: 90%;
     margin-top: 0.5em;
     resize: none;   
}
#input-submit {
     color: white; 
     background: #ed4a34;
     cursor: pointer;
}
#input-submit:hover{
    background: #ff1500;
}
textarea {
    height: 3rem;
}
a img{
    width: 10rem;
}
.slowToggleHide{
    -webkit-animation: hideArticle 1s linear;
    animation: hideArticle 1s linear;
}
@-webkit-keyframes hideArticle{
    0%{opacity: 1;}
    100%{opacity: 0;}
}
@keyframes hideArticle{
    0%{opacity: 1;}
    100%{opacity: 0;}
}
.slowToggleShow{
    -webkit-animation: showArticle 1s linear;
    animation: showArticle 1s linear;
}
@-webkit-keyframes showArticle{
    0%{opacity: 0;}
    100%{opacity: 1;} 
}
@keyframes showArticle{
    0%{opacity: 0;}
    100%{opacity: 1;} 
}

/*galllery*/

.slider-container ul{
    list-style-type:none;
}
.slider-container, .slider-nav, .slider-img, .rotate, .rotate a{
    width: 100%;
}
.slider-container{
    height: 80%;
}
.slider-nav{
    position: absolute;
    height: 2rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.slider-nav .prev, .slider-nav .next{
    width: 2rem;
    height: 2rem;
}
.slider-nav .prev{
    margin-left: 3rem;
}
.slider-nav .prev span:first-child{
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.slider-nav .prev span:nth-child(2){
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.slider-nav .next, .slider-nav .prev{
    margin-right: 3rem;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider-nav .next span:nth-child(1){
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.slider-nav .next span:nth-child(2){
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
.slider-container span{
    position: absolute;
    height: 4px;
    width: inherit;
    background-color: black;
    border-radius: 0.5rem;
}
.next:active{
    -webkit-transform: translateX(20px);
    transform: translateX(20px)
}
.prev:active{
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px)
}
.next:active span:nth-child(1), .prev:active span:nth-child(2){
    opacity: 0.7;
    -webkit-box-shadow: 7px -7px 0 0 black;
    box-shadow: 7px -7px 0 0 black;
}
.next:active span:nth-child(2), .prev:active span:nth-child(1){
    opacity: 0.7;
     -webkit-box-shadow: 7px 7px 0 0 black;
    box-shadow: 7px 7px 0 0 black;
}
.slider-container span:first-child{
    top:2px;
}
.slider-container span:nth-child(2){
    bottom: 2px;
}
.slider-img{
    z-index: 1;
    height: inherit;
    width: 70%;
}
.slider-img li{
    display: block;
    position: absolute;
     -webkit-transition: .8s;
    -webkit-transition: -webkit-transform .8s;
    transition: -webkit-transform .8s;
    transition: transform .8s;
    transition: transform .8s, -webkit-transform .8s;
}
.slider-img li{
    -webkit-transform: translateX(800%);
    transform: translateX(800%);
}

li.move-left{
    -webkit-transform: translateX(-800%);
    transform: translateX(-800%);
}
li.selected{
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.hide{
    visibility: hidden;
}

.rotate{
    width: 20rem;
    height: 20rem;
    position: relative;
    -webkit-perspective: 50rem;
    perspective: 50rem;   
}
.rotate::before, .rotate::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.5s -webkit-transform linear;
    transition: 0.5s -webkit-transform linear;
    transition: 0.5s transform linear;
    transition: 0.5s transform linear, 0.5s -webkit-transform linear;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
     border-radius: 5%;
    -webkit-box-shadow: 0 0 2rem 1.6rem rgba(0,0,0,.3);
    box-shadow: 0 0 2rem 1.6rem rgba(0,0,0,.3);
    opacity: 0.9;
    padding: 0.5rem;
    border: 1px solid black;
}
.project1::after{
     background-image: url(../img/BombMan.png);
}
.project2::after{
     background-image: url(../img/log-in-out.png);
}
.rotate.active::after{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.rotate::before{
    background-color: black;
    background-size: contain;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.rotate.active::before{
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
}
.rotate a{
    position: absolute;
    width: 70%;
    height: 20%;
    text-align: center;
    text-decoration: none;
}
a .button{
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 4rem;
    text-shadow:-1px -1px 0 #2C7982;
	background: #3EACBA;
	border:1px solid #379AA4;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#48C6D4), to(#3EACBA));
	background-image:linear-gradient(top, #48C6D4, #3EACBA);
	border-radius:5px;
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
	box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);   
    font-size: 2rem;
    color:black;
}


@media (max-height:220px) and (max-width:1366px) and (orientation: landscape){
    html{
        font-size: 5px;
    }
    #authorImg{
        -webkit-transform: scale(.1);
        transform: scale(.1);
        margin-top: 12rem;
    }
    #hamburger{
        width: 4rem;
        height: 3rem;
    }
    .two,  .change .one{
        top:calc(50% - 0.4rem);
    }
    .change .three{
        bottom: calc(50% - 0.5rem);
    }
    .slider-nav ,.slider-nav .next, .slider-nav .prev{
        height: 2.7rem;
    }
  
    .slider-container span{
        height: 3px;
    }
    .rotate{
        width: 40rem;
        height: 40rem;
    }
    .rotate::before{
         width: 50%;
        height: 50%;
    }
    .rotate a{
        width: 40%;
        height: 10%;
    }
    .project1::after, .project2::after{
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    a .button{
        height: 2rem;
    }
}
@media (min-height:310px) and (max-height:499px) and (max-width:500px) and (orientation: landscape){
    #authorImg{
        -webkit-transform: scale(.3);
        transform: scale(.3);
        margin-top: 12rem;
    }
    #aboutMe h4,#education h4,#course h4, #thirdPage h4, #fourPage h4, #contact h4{
        font-size: 3rem;
    }
    #course menu{
        top:20%;
    }
    #PG h5, #Technic h5{
        font-size: 2rem;
    }
    #PG time, #Technic time{
        font-size: 1.5rem;
    }
    a img{
        width: 120px;
    }
    #name{
        font-size: 2.5rem;
    }
    #iconDevelop img{
       width: 6rem;
        height: 6rem;
    }
    input, textarea{
        padding: 1rem;
        margin-top: 1rem;
    }
    textarea{
        height: 4rem;
    }
    #icon{
        width: 70%;
        left:20%;
        bottom: 7%;
        -webkit-transform: scale(.7);
        transform: scale(.7);
    }
    .rotate{
        -webkit-transform: scale(.7);
        transform: scale(.7);
    }
}
@media (min-height: 375px) and (max-height:699px) and (min-width:501px) and (max-width:700px) and (orientation: landscape){
 #authorImg{
        -webkit-transform: scale(.4);
        transform: scale(.4);
        margin-top: 16rem;
    }
    #name{
        font-size: 3rem;
        top: 18%;
    }
    h3{
        font-size: 2rem;
    }
    #barsPage ul{
        font-size: 2.5rem;
    }
    a img{
        width: 150px;
    }
    #iconDevelop img{
        width: 8rem;
        height: 8rem;
        margin: 0 1rem 1rem 0.5rem;
    }
    #course menu{
        top:20%;
    }
    #education article{
        margin-top: 1rem;
    }
    #aboutMe article{
        overflow: scroll;
        margin-top: 2rem;
    }
    #contact{
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    form{
        top:15%;
        height: 70%;
    }
    textarea{
        height: 40%;
    }
    input, textarea{
        padding: 1rem;
    }
}
@media (min-height:320px) and (max-height:429px) and (min-width:501px) and (max-width:900px) and (orientation: landscape){
    #authorImg{
        -webkit-transform: scale(.3);
        transform: scale(.3);
        margin-top: 12rem;
    }
    #name{
        font-size: 3rem;
        top: 16%;
    }
     h3{
        font-size: 2rem;
    }
    #course menu{
        top:20%;
    }
    a img{
        width: 150px;
    }
    #iconDevelop img{
        width: 6rem;
        height: 6rem;
    }
    #iconDevelop{
        width: 60%;
    }
    input, textarea{
        padding: 1rem;
    }
    textarea{
        height: 5rem;
    }
    #input-submit{
        width: 50%;
    }
    #icon{
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
        left: 34%;
    }
    .rotate{
        -webkit-transform: scale(.8);
        transform: scale(.8);
    }
}
@media (min-height:430px) and (max-height:899px) and (min-width:701px) and (max-width:900px) and (orientation: landscape){
    #authorImg{
        -webkit-transform: scale(.4);
        transform: scale(.4);
        margin-top: 18rem;
    }
    #name{
        font-size: 4rem;
        top: 16%;
    }
     h3{
        font-size: 2.5rem;
    }
    #barsPage li{
        width: 40rem;
    }
    #hamburger{
        width: 5rem;
        height: 3.5rem;
    }
    .two,  .change .one{
        top:calc(50% - 0.4rem);
    }
    .change .three{
        bottom: calc(50% - 0.5rem);
    }
    #iconDevelop img{
        width: 9rem;
        height: 9rem;
        margin: 0 1rem 1rem 0.5rem;
    }
    #iconDevelop{
        width: 70%;
    }
    .circle{
        width: 2rem;
        height: 2rem;
    }
    #aboutMe p, #education p, #contact footer,#course p{
        font-size: 2rem;
    }
    #aboutMe h4 ,#education h4, #course h4, #thirdPage h4, #fourPage h4, #contact h4{
        font-size: 3.5rem;
    }
    #PG h5 ,#Technic h5, #barsPage ul{
        font-size: 3rem;
    }
    #PG time, #Technic time{
        font-size: 2.5rem;
    }
    a img{
        width: 20rem;
    }
    textarea{
        height: 8rem;
    }
    input, textarea{
        padding: 1.5rem;
    }
    #input-submit{
        font-size: 2rem;
        padding: 1rem 0 1rem 0;
        width: 50%;
    }
    #course menu{
        top:20%;
    }
    
}
@media (max-height:1099px) and (min-width:901px) and (max-width:1100px) and (orientation: landscape){
    #authorImg{
        -webkit-transform: scale(.6);
        transform: scale(.6);
        margin-top: 22rem;
    }
    #name{
        font-size: 5rem;
        top: 16%;
    }
     h3{
        font-size: 3rem;
    }
    #hamburger{
        width: 7rem;
        height: 5rem;
    }
    .two,  .change .one{
        top:calc(50% - 0.5rem);
    }
    .change .three{
        bottom: calc(50% - 0.5rem);
    }
    #barsPage li{
        width: 50rem;
        border-bottom: 0.7rem solid #fff;
    }
    #barsPage ul{
        font-size: 3.5rem;
    }
     .circle{
        width: 3rem;
        height: 3rem;
    }
    #moveSubPage{
        bottom: 10%;
    }
    #aboutMe p, #education p, #contact footer,#PG time, #Technic time, #course p{
        font-size: 2.5rem;
    }
    #aboutMe h4 ,#education h4, #course h4, #thirdPage h4, #fourPage h4, #contact h4{
        font-size: 5rem;
    }
    #aboutMe article{
        overflow: hidden;
    }
    #PG h5 ,#Technic h5{
        font-size: 3.5rem;
    }
    #iconDevelop img{
        width: 13rem;
        height: 13rem;
        margin: 0 1.5rem 1rem 1.5rem;
    }
    #iconDevelop{
        width: 70%;
    }
    a img{
        width: 200px;
    }
    textarea{
        height: 15rem;
    }
    input, textarea{
        font-size:2rem;
        padding: 2rem;
    }
    #input-submit{
        font-size: 3rem;
        padding: 1rem 0 1rem 0;
        width: 50%;
    }
    #course menu{
        top:20%;
    }
    #icon{
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        bottom: 15%;
        left:37%;
    }
    .rotate{
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
    .slider-nav .next, .slider-nav .prev{
        margin-right: 4rem;
        margin-left: 4rem;
        width: 3rem;
    }
    .slider-container .slider-nav span{
        height: 6px;
    }
    .slider-container .slider-nav span:first-child{
        top:-1px;
    }
    .slider-container .slider-nav span:nth-child(2){
        bottom: -1px;
    }
}
@media (max-height:599px) and (min-width:901px) and (max-width:1100px) and (orientation: landscape){
    #authorImg{
        -webkit-transform: scale(.5);
        transform: scale(.5);
        margin-top: 18rem;
    }
    #name{
        font-size: 4.5rem;
    }
    #hamburger{
        width: 6rem;
        height: 4rem;
    }
    .two,  .change .one{
        top:calc(50% - 0.4rem);
    }
    .change .three{
        bottom: calc(50% - 0.4rem);
    }
     .circle{
        width: 2rem;
        height: 2rem;
    }
    #aboutMe p, #education p, #contact footer,#PG time, #Technic time, #course p{
        font-size: 2rem;
    }
     #aboutMe h4 ,#education h4, #course h4, #thirdPage h4, #fourPage h4, #contact h4{
        font-size: 4rem;
    }
    #iconDevelop img{
        width: 10rem;
        height: 10rem;
    }
     a img{
        width: 170px;
    }       
    textarea{
        height: 10rem;
    }
    input, textarea{
        font-size:1.5rem;
        padding: 1rem;
    }
    #input-submit{
        font-size: 2.5rem;
    }
    #icon{
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    .rotate{
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    .next:active span:nth-child(1), .prev:active span:nth-child(2){
        opacity: 0.7;
        -webkit-box-shadow: 10px -10px 0 0 black;
        box-shadow: 10px -10px 0 0 black;
    }
    .next:active span:nth-child(2), .prev:active span:nth-child(1){
        opacity: 0.7;
         -webkit-box-shadow: 10px 10px 0 0 black;
        box-shadow: 10px 10px 0 0 black;
    }
}
@media (max-height:459px) and (min-width:901px) and (max-width:1100px) and (orientation: landscape){
    #authorImg{
        -webkit-transform: scale(.3);
        transform: scale(.4);
        margin-top: 16rem;
    }
    #name{
        font-size: 4rem;
    }
    h3{
       font-size: 2.5rem; 
    }
    #PG h5 ,#Technic h5, #barsPage ul{
        font-size: 3rem;
    }
    #icon{
        -webkit-transform: scale(.8);
        transform: scale(.8);
        bottom: 12%;
    }
    .rotate{
        -webkit-transform: scale(.9);
        transform: scale(.9);
    }
    #iconDevelop img{
        width: 8rem;
        height: 8rem; 
    }
}
@media (min-height:320px) and (max-height:370px) and (min-width:901px) and (max-width:1100px) and (orientation: landscape){
     #authorImg{
        -webkit-transform: scale(.3);
        transform: scale(.3);
        margin-top: 16rem;
    }
    textarea{
        height: 7rem;
    }
    input, textarea{
        padding: 0.5rem;
    }
    #input-submit{
        font-size: 2rem;
    }
    #aboutMe article{
        height: 50%;
        overflow: scroll;
    }
    #course menu{
        top:30%;
    }
}
    
@media (max-height:1919px) and (min-width:1101px) and (max-width:1920px) and (orientation: landscape){
    #authorImg{
        -webkit-transform: scale(.9);
        transform: scale(.9);
        margin-top: 42rem;
    }
     #name{
        font-size: 9rem;
        top: 16%;
    }
     h3{
        font-size: 5rem;
    }
    #hamburger{
        width: 10rem;
        height: 7rem;
    }
    .two,  .change .one{
        top:calc(50% - 0.6rem);
    }
    .change .three{
        bottom: calc(50% - 0.6rem);
    }
    #barsPage li{
        width: 80rem;
        border-bottom: 1rem solid #fff;
        padding-bottom: 5rem;
        padding-top: 4rem;
    }
    #barsPage ul{
        font-size: 6rem;
    }
    .circle{
        width: 5rem;
        height: 5rem;
    }
    #moveSubPage{
        bottom: 10%;
        width: 40rem;
    }
    #aboutMe p, #education p, #contact footer,#PG time, #Technic time, #course p{
        font-size: 4rem;
    }
    #aboutMe h4 ,#education h4, #course h4, #thirdPage h4, #fourPage h4, #contact h4{
        font-size: 7rem;
    }
    #PG h5 ,#Technic h5{
        font-size: 5rem;
    }
    #course menu{
        top:20%;
        overflow: hidden;
        padding: 0 4rem 0 4rem;
    }
    #iconDevelop img{
        width: 17rem;
        height: 17rem;
        margin: 0 2rem 1rem 2rem;
    }
    #iconDevelop{
        width: 70%;
    }
    textarea{
        height: 23rem;
    }
    input, textarea{
        font-size:3rem;
        padding: 3rem;
        border-radius: 2rem;
    }
    #input-submit{
        font-size: 5rem;
        padding: 1rem 0 1rem 0;
        width: 50%;
    }
    #icon{
        -webkit-transform: scale(2);
        transform: scale(2);
        bottom: 20%;
        left: 43%;
    }
    .rotate{
        -webkit-transform: scale(2);
        transform: scale(2);
    }
    .slider-nav .next, .slider-nav .prev{
        margin-right: 6rem;
        margin-left: 6rem;
        width: 5rem;
    }
    .slider-container .slider-nav span{
        height: 10px;
    }
    .slider-container .slider-nav span:first-child{
        top:-11px;
    }
    .slider-container .slider-nav span:nth-child(2){
        bottom: -11px;
    }
     .next:active span:nth-child(1), .prev:active span:nth-child(2){
        opacity: 0.7;
        -webkit-box-shadow: 20px -20px 0 0 black;
        box-shadow: 20px -20px 0 0 black;
    }
    .next:active span:nth-child(2), .prev:active span:nth-child(1){
        opacity: 0.7;
         -webkit-box-shadow: 20px 20px 0 0 black;
        box-shadow: 20px 20px 0 0 black;
    }
}
@media (max-height:939px) and (min-width:1101px) and (max-width:1920px) and (orientation: landscape){
     #authorImg{
        -webkit-transform: scale(.8);
        transform: scale(.8);
        margin-top: 36rem;
    }
    #name{
        font-size: 9rem;
    }
     h3{
        font-size: 5rem;
    }
    #aboutMe article{
        height: 60%;
    }
    textarea{
        height: 20rem;
    }
    input, textarea{
        font-size:3rem;
        padding: 2.5rem;
    }
    #input-submit{
        font-size: 5rem;
    }
    #aboutMe p, #education p, #contact footer,#PG time, #Technic time, #course p{
        font-size: 4rem;
    }
    #icon, .rotate{
        -webkit-transform: scale(1.8);
        transform: scale(1.8);
    }
}
@media (max-height:780px) and (min-width:1101px) and (max-width:1920px) and (orientation: landscape){
    #authorImg{
        -webkit-transform: scale(.5);
        transform: scale(.5);
        margin-top: 32rem;
    }
    #name{
        font-size: 7.5rem;
    }
    h3{
        font-size: 4rem;
    }
     #hamburger{
        width: 8rem;
        height: 5rem;
    }
    .two,  .change .one{
        top:calc(50% - 0.5rem);
    }
    .change .three{
        bottom: calc(50% - 0.5rem);
    }
    .circle{
        width: 3rem;
        height: 3rem;
    }
    #aboutMe p, #education p, #contact footer,#PG time, #Technic time, #course p{
        font-size: 3rem;
    }
    #aboutMe h4 ,#education h4, #course h4, #thirdPage h4, #fourPage h4, #contact h4{
        font-size: 5.5rem;
    }
    #PG h5 ,#Technic h5{
        font-size: 4rem;
    }
    #aboutMe article{
        height: 70%;
    }
     #iconDevelop img{
        width: 14rem;
        height: 14rem;
    }
     a img{
        width: 30rem;
    }
    textarea{
        height: 16rem;
    }
    input, textarea{
        font-size:2.5rem;
        padding: 2rem;
    }
    #input-submit{
        font-size: 3.5rem;
    }
    #icon, .rotate{
        -webkit-transform: scale(1.6);
        transform: scale(1.6);
    }
}
@media (max-height:630px) and (min-width:1101px) and (max-width:1920px) and (orientation: landscape){
    
}

/*portaint*/
@media (max-width: 1355px) and (max-height: 1366px) and (orientation:portrait){
    #authorImg{
        -webkit-transform: scale(.8);
        transform: scale(.8);
        margin-top: 40rem;
    }
    #name{
        font-size: 6rem;
        top:25%;
    }
    h3{
       font-size: 4.5rem; 
        margin-top: 3rem;
    }
     #hamburger{
        width: 9rem;
        height: 7rem;
    }
    .two,  .change .one{
        top:calc(50% - 0.7rem);
    }
    .change .three{
        bottom: calc(50% - 0.7rem);
    }
    #barsPage ul{
        font-size: 5.5rem;
    }
    #barsPage li{
        width: 60rem;
        border-bottom: 0.8rem solid #fff;
        padding-bottom: 4rem;
        padding-top: 3rem;
    }
    #aboutMe h4 ,#education h4, #course h4, #thirdPage h4, #fourPage h4, #contact h4{
        font-size: 5.5rem;
    }
    #aboutMe p, #education p, #contact footer,#PG time, #Technic time, #course p{
        font-size: 3.5rem;
    }
    #PG h5, #Technic h5{
        font-size:4rem;
    }
    #course menu{
        top:20%;
    }
     .circle{
        width: 3rem;
        height: 3rem;
    }
     #iconDevelop img{
        width: 15rem;
        height: 15rem;
    }
     textarea{
        height: 25rem;
    }
    input, textarea{
        font-size:3rem;
        padding: 2rem;
        border-radius: 1.5rem;
        margin-top: 2rem
    }
    #input-submit{
        font-size: 3rem;
        width: 70%;
    }
}
@media (max-width: 799px) and (max-height: 1366px) and (orientation:portrait){
    #name{
        font-size: 5rem;
        top:25%;
    }
    h3{
       font-size: 3.5rem; 
        margin-top: 3rem;
    }
     #barsPage li{
        width: 45rem;
    }
}
@media (max-width: 550px) and (max-height: 1366px) and (orientation:portrait){
    #authorImg{
        -webkit-transform: scale(.6);
        transform: scale(.6);
        margin-top: 40rem;
    }
     #hamburger{
        width: 7rem;
        height: 5rem;
    }
    .two,  .change .one{
        top:calc(50% - 0.5rem);
    }
    .change .three{
        bottom: calc(50% - 0.5rem);
    }
    #barsPage ul{
        font-size: 4rem;
    }
    #barsPage li{
        width: 30rem;
        border-bottom: 0.6rem solid #fff;
    }
    #aboutMe h4 ,#education h4, #course h4, #thirdPage h4, #fourPage h4, #contact h4{
        font-size: 4rem;
    }
    #aboutMe p, #education p, #contact footer,#PG time, #Technic time, #course p{
        font-size: 2.5rem;
    }
    #PG h5, #Technic h5{
        font-size:3rem;
    }
    #iconDevelop img{
        width: 10rem;
        height: 10rem;
    }
     .circle{
        width: 2rem;
        height: 2rem;
    }
    input, textarea{
        font-size:2rem;
    }
    #input-submit{
        font-size: 2.5rem;
    }
}
@media (max-width: 340px) and (max-height: 1366px) and (orientation:portrait){
    #authorImg{
        -webkit-transform: scale(.4);
        transform: scale(.4);
        margin-top: 40rem;
    }
    #name{
        font-size: 3.5rem;
        top:30%;
    }
    h3{
       font-size: 2.5rem; 
        margin-top: 2rem;
    }
     #aboutMe h4 ,#education h4, #course h4, #thirdPage h4, #fourPage h4, #contact h4{
        font-size: 3rem;
    }
}
@media (max-width: 899px) and (max-height: 900px) and (orientation:portrait){
    #authorImg{
        -webkit-transform: scale(.6);
        transform: scale(.6);
        margin-top: 32rem;
    }
    #name{
        font-size: 4rem;
        top:25%;
    }
    h3{
       font-size: 3rem; 
        margin-top: 2rem;
    }
     #hamburger{
        width: 7rem;
        height: 5rem;
    }
    .two,  .change .one{
        top:calc(50% - 0.5rem);
    }
    .change .three{
        bottom: calc(50% - 0.5rem);
    }
    #barsPage ul{
        font-size: 4rem;
    }
    #barsPage li{
        width: 40rem;
    }
    #course menu{
        top:20%;
    }
    #aboutMe h4 ,#education h4, #course h4, #thirdPage h4, #fourPage h4, #contact h4{
        font-size: 4.5rem;
    }
    #aboutMe p, #education p, #contact footer,#PG time, #Technic time, #course p{
        font-size: 2.5rem;
    }
    #PG h5, #Technic h5{
        font-size:3.5rem;
    }
    #PG time, #Technic time{
        font-size:2.5rem;
    }
     .circle{
        width: 2rem;
        height: 2rem;
    }
    #iconDevelop img{
        width: 10rem;
        height: 10rem;
    }
      textarea{
        height: 18rem;
    }
    input, textarea{
        font-size:2rem;
        padding: 1.5rem;
        border-radius: 1.5rem;
    }
    #input-submit{
        font-size: 2.5rem;
        width: 70%;
    }
}
@media (max-width: 699px) and (max-height: 900px) and (orientation:portrait){
    #authorImg{
        -webkit-transform: scale(.5);
        transform: scale(.5);
        margin-top: 35rem;
    }
     #hamburger{
        width: 6rem;
        height: 4.5rem;
    }
    .two,  .change .one{
        top:calc(50% - 0.5rem);
    }
    .change .three{
        bottom: calc(50% - 0.5rem);
    }
    #aboutMe h4 ,#education h4, #course h4, #thirdPage h4, #fourPage h4, #contact h4{
        font-size: 4rem;
    }
    #PG h5, #Technic h5{
        font-size:3rem;
    }
    #PG time, #Technic time{
        font-size:2.5rem;
    }
    #aboutMe p, #education p, #contact footer,#PG time, #Technic time, #course p{
        font-size: 2rem;
    }
    
}
@media (max-width: 500px) and (max-height: 900px) and (orientation:portrait){
    #name{
        font-size: 3.5rem;
    }
    h3{
       font-size: 2.5rem; 
    }
    #iconDevelop img{
        width: 8rem;
        height: 8rem;
    }
}
@media (max-width: 340px) and (max-height: 900px) and (orientation:portrait){
    #authorImg{
        -webkit-transform: scale(.3);
        transform: scale(.3);
        margin-top: 32rem;
    }
    #iconDevelop img{
        width: 6rem;
        height: 6rem;
    }
    #aboutMe h4 ,#education h4, #course h4, #thirdPage h4, #fourPage h4, #contact h4{
        font-size: 3rem;
    }
     #aboutMe p, #education p, #contact footer,#PG time, #Technic time, #course p{
        font-size: 1.7rem;
    }
}
@media (min-width:501px) and (max-width: 699px) and (max-height: 700px) and (orientation:portrait){
  #authorImg{
        -webkit-transform: scale(.4);
        transform: scale(.4);
        margin-top: 22rem;
    }
    #name{
        font-size: 3.5rem;
        top: 25%;
    }
    h3{
        font-size: 2.5rem;
    }
     #hamburger{
        width: 5rem;
        height: 4rem;
    }
    .two,  .change .one{
        top:calc(50% - 0.4rem);
    }
    .change .three{
        bottom: calc(50% - 0.4rem);
    }
    #barsPage ul{
        font-size: 3.5rem;
    }
    #barsPage li{
        width: 30rem;
    }
    #aboutMe h4 ,#education h4, #course h4, #thirdPage h4, #fourPage h4, #contact h4{
        font-size: 3.5rem;
    }
     #aboutMe p, #education p, #contact footer,#PG time, #Technic time, #course p{
        font-size: 1.7rem;
    }
    #course menu{
        top:20%;
    }
    .circle{
        width: 2rem;
        height: 2rem;
    }
     #iconDevelop img{
        width: 8rem;
        height: 8rem;
    }
    #iconProject{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        height: 70%;
    }
    #iconProject a:first-child{
        margin-bottom: 3rem;
    }
    a img{
        width: 12rem;
    }
    textarea{
        height: 15rem;
    }
    input, textarea{
        font-size:1.5rem;
        padding: 1rem;
    }
    #input-submit{
        font-size: 2rem;
        width: 50%;
    }
}
@media (max-width: 500px) and (max-height: 700px) and (orientation:portrait){
    #authorImg{
        -webkit-transform: scale(.4);
        transform: scale(.4);
        margin-top: 30rem;
    }
    #name{
        font-size: 3rem;
        top:25%;
    }
    h3{
        font-size: 2.5rem; 
        margin-top: 1.5rem;
    }
    #course menu{
        top:20%;
    }
    #iconDevelop img{
        width: 6rem;
        height: 6rem;
    }
    textarea{
        height: 15rem;
    }
}
@media (max-width: 340px) and (max-height: 700px) and (orientation:portrait){
    #authorImg{
        -webkit-transform: scale(.3);
        transform: scale(.3);
        margin-top: 30rem;
    }
    #name{
        font-size: 3rem;
        top:25%;
    }
    h3{
        font-size: 2rem; 
        margin-top: 1.5rem;
    }
    #course menu{
        top:20%;
    }
    textarea{
        height: 15rem;
    }
    
}
@media (max-width: 499px) and (max-height: 500px) and (orientation:portrait){
    #authorImg{
        -webkit-transform: scale(.4);
        transform: scale(.4);
        margin-top: 14rem;
    }
     #name{
        font-size: 3rem;
        top: 15%;
    }
    h3{
       font-size: 2rem; 
    }
    #aboutMe article{
        height: 80%;
    }
    #aboutMe h4 ,#education h4, #course h4, #thirdPage h4, #fourPage h4, #contact h4{
        font-size: 3.5rem;
    }
    #course menu{
        top:20%;
    }
    #iconDevelop img{
        width: 6rem;
        height: 6rem;
    }
    #iconProject{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        height: 70%;
    }
    #iconProject a:first-child{
        margin-top: 2.5rem;
        margin-bottom: 2rem;
    }
    a img{
        width: 10.5rem;
    }
     #contact{
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
     form{
        top:20%
    }
    textarea{
        height: 15rem;
    }
}
@media (max-width: 380px) and (max-height: 500px) and (orientation:portrait){
     #authorImg{
        -webkit-transform: scale(.3);
        transform: scale(.3);
        margin-top: 22rem;
    }
    #aboutMe h4 ,#education h4, #course h4, #thirdPage h4, #fourPage h4, #contact h4{
        font-size: 3rem;
    }
     a img{
        width: 8rem;
    }
     #iconDevelop img{
        width: 4rem;
        height: 4rem;
    }
}
@media (min-width:230px) and (max-width: 429px) and (max-height: 430px) and (orientation:portrait){
   #authorImg{
        -webkit-transform: scale(.2);
        transform: scale(.2);
        margin-top: 22rem;
    }
    #name{
        font-size: 2.5rem;
        top: 20%;
    }
    article{
        height: 90%;
    }
    #course menu{
        top:20%;
        height: 80%;
    }
    #aboutMe article{
        height: 80%;
    }
    #iconProject{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        height: 70%;
    }
    #iconProject a:first-child{
        margin-bottom: 3rem;
    }
    #contact{
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    form{
        top:17%
    }
    textarea{
        height: 10rem;
    }
    #aboutMe h4 ,#education h4, #course h4, #thirdPage h4, #fourPage h4, #contact h4{
        font-size: 2rem;
    }
}


